<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <div class="me-3">
              <img
                src="{{ ressource.imageURL }}"
                alt=""
                class="img-fluid"
                style="width: 100px"
              />
            </div>
            <div>
              <h5 class="card-title">{{ ressource.nom }}</h5>
              <p class="card-text">{{ ressource.description }}</p>
              <p class="card-text">{{ ressource.category.nom }}</p>
              <p class="card-text">Price: 60DT</p>
            </div>
          </div>
          <div class="mt-3">
            <a
              href="{{ ressource.fileURL }}"
              target="_blank"
              class="btn btn-primary"
              >Download File</a
            >
          </div>
          <div class="mt-3">
            <a
              href="{{ role }}/ressource/share/{{ ressourceId }}"
              target="_blank"
              class="btn btn-primary"
              >Share File via Email</a
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="container p-5">
            <h1 class="text-center">Ask Chat to find more</h1>
            <div class="card" *ngFor="let data of textList">
              <div class="card-header">
                <div class="input-group mb-3">
                  <input
                    type="text"
                    [(ngModel)]="data.text"
                    class="form-control me-2"
                    placeholder="Ask your question here"
                  />
                  <div class="input-group-append">
                    <button
                      type="button"
                      (click)="generateText(data)"
                      class="btn btn-primary"
                    >
                      Generate
                    </button>
                  </div>
                </div>
              </div>
              <div class="card-body" *ngIf="data.response">
                <p class="card-text">{{ data.response }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
