<div class="container">
  <div class="row" style="display: grid">
    <div class="col-md-6">
      <div
        class="d-flex align-items-center align-items-md-start align-items-xl-center"
      >
        <div><img src="{{ ressource.imageURL }}" alt="" /></div>
        <div>
          <h4>{{ ressource.nom }}</h4>
          <p>{{ ressource.description }}</p>
        </div>
        <div>
          <a href="{{ ressource.fileURL }}">{{ ressource.fileURL }}</a>
        </div>
      </div>

      <!-- //this is the chat response -->
      <div class="col-md-6"><p>helopijrfejrbgfekrjbgkerbgekrbg</p></div>
    </div>
  </div>
</div>
