form {
display: flex;
flex-direction: column;
}
.wrapper {
    width: 400px;

}

div {
margin-bottom: 16px;

}

mat-label {
font-weight: bold;
display: block;
margin-bottom: 8px;
}

mat-form-field {
width: 80%;
justify-content: center;
}

input,
textarea {
width: 100%;

box-sizing: border-box;
padding: 12px; /* Adjust the padding as needed */
border: 1px solid #ccc;
border-radius: 4px;
font-size: 16px;
}

textarea {
resize: vertical; /* Allow vertical resizing of textarea */
}

/* Optional: Add some styling for mat-form-field when in focus */
mat-form-field.mat-focused .mat-form-field-underline {
color: #2196f3; /* Change to your preferred color */
}
.mat-dialog-content{
  width: 80%;
}


