<h1 mat-dialog-title *ngIf="isNew">Add ressource</h1>
<h1 mat-dialog-title *ngIf="!isNew">Update ressource</h1>
<div class="wrapper">
  <!-- <div *ngIf="!isNew">
    <div mat-dialog-content>
      <p>Please edit the category details here.</p>
      <form [formGroup]="updateRessourceForm">
        <div>
          <mat-label>Name</mat-label>
          <mat-form-field>
            <input
              matInput
              placeholder="{{ ressource!.nom }}"
              formControlName="nom"
            />
          </mat-form-field>
        </div>
        <div>
          <mat-label>Description</mat-label>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close] color="warn">Close</button>
      <button mat-button color="primary" (click)="updateRessource()">
        Update
      </button>
    </div>
  </div> -->

  <!-- ===========  the modal for adding a new category ================ -->
  <div *ngIf="isNew">
    <div mat-dialog-content>
      <form [formGroup]="newRessourceForm">
        <div>
          <mat-label>Name</mat-label>
          <mat-form-field>
            <input matInput formControlName="nom" />
          </mat-form-field>
        </div>
        <div>
          <mat-label>Description</mat-label>
          <mat-form-field>
            <textarea
              matInput
              placeholder="Description"
              formControlName="description"
            ></textarea>
          </mat-form-field>
          <mat-form-field>
            <mat-label>categories</mat-label>
            <ng-container *ngIf="categoryList && categoryList.length > 0">
              <mat-select
                formControlName="categoriesIds"
                [value]="categoriesIds"
                multiple
                (selectionChange)="onSelectionChange($event)"
              >
                <mat-option
                  *ngFor="let category of categoryList"
                  [value]="category.categoryId"
                  >{{ category.nom }}</mat-option
                >
              </mat-select>
            </ng-container>
          </mat-form-field>
        </div>
      </form>
    </div>
    <div mat-dialog-actions>
      <button mat-button [mat-dialog-close] color="warn">Close</button>
      <button mat-button color="primary" (click)="addRessource()">Add</button>
    </div>
  </div>
</div>
