<!-- <app-category-list> </app-category-list> -->
<div calss="container">
  <div class="title"><h1>ressource List</h1></div>
  <div>
    <button mat-raised-button color="primary" (click)="addRessource()">
      Add Category
    </button>
  </div>
</div>

<div>
  <ng-container *ngIf="ressourceList.length > 0">
    <mat-card *ngFor="let ressource of ressourceList">
      <mat-card-header>
        <mat-card-title>{{ ressource.nom }}</mat-card-title>
      </mat-card-header>
      <br />
      <ng-container
        *ngIf="ressource.categories && ressource.categories.length > 0"
      >
        <mat-card-content>
          <mat-label>categories: </mat-label>
          <ng-container *ngFor="let cat of ressource?.categories">{{
            cat.nom + ", "
          }}</ng-container>
        </mat-card-content>
      </ng-container>
      <mat-card-actions>
        <button mat-button color="secondary">Update</button>

        <button
          mat-button
          (click)="onDeleteClick(ressource.ressourceId)"
          color="warn"
        >
          Delete
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
<mat-spinner *ngIf="!ressourceList"></mat-spinner>
